* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #e8ffc2;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  text-align: center;
  background-image: linear-gradient(
    to left,
    #0e185f,
    #2fa4ff,
    #3ec70b,
    #367e18
  );
  -webkit-background-clip: text;
  color: transparent;
}

span {
  font-weight: bolder;
}

.highlight {
  background-color: yellow;
}

.error {
  background-color: lightcoral;
  border: red;
}
